.container-xo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.turn-to-play {
  font-weight: 600;
  font-size: 20px;
}

.play-field td {
  text-align: center;
  width: 100px;
  height: 100px;
  cursor: pointer;
  border: solid 2px #ffca6e;
  background: #fffb7f;

  &:hover {
    background: #ffca6e;
  }
}
